[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
test = "test"
script = "script"

solc = "0.8.24"
optimizer = true
optimizer_runs = 200

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
